﻿@model Nop.Plugin.Misc.AvenirTelecom.Models.IndividualPlanViewModel
@using Nop.Web.Framework

@{  
    Layout = "~/Administration/Views/Shared/_AdminLayout.cshtml";  
    ViewBag.Title = T("Admin.Plugins.PlanEntry").Text;

    //Html.AddScriptParts("~/Plugins/Misc.AvenirTelecom/Content/js/jscolor.min.js");
}


<div>
        @using (Html.BeginForm())
            {
            <div class="section-header">
                <div class="title">
                    <img src="@Url.Content("~/Administration/Content/images/ico-content.png")" alt="" />
                    @T("Admin.Plugin.Misc.AvenirTelecom.DefaultSeeds.Create") <a href="/Plugin/Misc/AvenirTelecom/MonthlyPlan/@Model.ProductId">(@T("Admin.Plugin.Misc.AvenirTelecom.DefaultSeeds.BackToList"))</a>
                </div>
            </div>
            @Html.HiddenFor(model => model.ProductId)
            <table class="adminContent">
                <tr>
                    <td class="adminTitle">
                        Product Name:
                    </td>
                    <td class="adminData">
                        @Html.DisplayFor(model => model.ProductName, new { @readonly = "readonly" })
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.LabelFor(model => model.SubscriptionPlan)
                    </td>
                    <td class="adminData">
                        @Html.TextBoxFor(model => model.SubscriptionPlan)
                    </td>
                </tr>               

                <tr>
                    <td class="adminTitle">
                        Subscription Type
                    </td>
                    <td class="adminData">
                        @Html.EnumDropDownListFor(m => m.SubscriptionType, "Select Subscription Type")
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        Price Type
                    </td>
                    <td class="adminData">
                        @Html.EnumDropDownListFor(m => m.PriceType, "Select Price Type")
                    </td>
                </tr>

                <tr>
                    <td class="adminTitle">
                        @Html.LabelFor(model => model.MonthlyFeeForSubscription)

                    </td>
                    <td class="adminData">
                        @Html.TextBoxFor(model => model.MonthlyFeeForSubscription)
                    </td>
                </tr>

                <tr>
                    <td class="adminTitle">
                        @Html.LabelFor(model => model.CashPriceForDevice)

                    </td>
                    <td class="adminData">
                        @Html.TextBoxFor(model => model.CashPriceForDevice)
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" id="btnIndividualSave" name="save" class="k-button" value="@T("Admin.Common.Save")" />
                    </td>
                </tr>
            </table>


        }
</div>









